body {
    margin: 0px;
    background-color: rgb(29, 29, 29);
}
h1{
    margin: 0%;
    padding-top: 60px;
}
#logo{
    height: 220px;
}
footer{
    float: none;
    color: rgb(197, 197, 197);
}
img{
    float: left;
    height: 50px;
}
header{
    background-color: rgb(128, 128, 128);
    height: 230px;
}
p{
    padding-left: 10px;
    color: rgb(197, 197, 197);
}
ul{
    float: left;    
    padding-right: 30px;
    color: rgb(197, 197, 197);
}
.subtitulo{
    padding-left: 230px;
    color: rgb(29, 29, 29);
}
h2{
    color: rgb(197, 197, 197);
    text-decoration: underline;
}
a {
    text-decoration: none;
    color: rgb(197, 197, 197);
}
  
a:hover {
    text-decoration: underline;
    color: rgb(197, 197, 197);
}  
a:active {
    color: rgb(0, 0, 0);
}
h2{
    margin-left: 15px;
}